body {
    background: #ffffff;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    margin-bottom: 2rem;
}

.section-head {
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;
    padding: 2px 12px 2px 12px;
    font-size: small;
}

.job-title, .education-title, .course-title, .cert-title, .ref-title, .pres-title {
    font-weight: 700;
}

.working-years, .education-years, .course-years, .cert-years, .pres-years {
    color: grey;
}

#links a {
    text-decoration: underline;
    color: #000000;
    margin-right: 0.5rem;
}

#links a:hover {
    color: #000000;
}

.jumbotron {
    background-color: #FFE14C;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.online-profiles {
    font-size: 2rem;
}