<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/svg+xml" href="/assets/file-regular.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/cv.css">

    <title>CV</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <a href="" class="navbar-brand"><i class="fas fa-file mr-2"></i> Curriculum Vitae</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://vladflore.tech">Back to blog</a>
            </li>
        </ul>
    </nav>
    <div class="container px-0 pb-4 mb-3">
        <section id="header">
            <div class="jumbotron px-5">
                <h1 class="display-4">Vlad-Emil Flore</h1>
                <p class="">Senior Full Stack Engineer</p>
                <hr class="my-4">
                <p class="lead text-center online-profiles">
                    <i class="fab fa-linkedin-in mr-3"></i>
                    <i class="fab fa-xing mr-3"></i>
                    <i class="fab fa-twitter"></i>
                </p>
            </div>
        </section>

        <section id="details" class="px-5">
            <p class="section-head">Details</p>

            <div class="row mb-4">
                <div class="col-6">
                    <p>Nationality</p>
                    <p>Romanian</p>
                </div>
                <div class="col-6">
                    <p>Date of birth</p>
                    <p>15.11.1985</p>
                </div>
            </div>
        </section>

        <section id="profile" class="px-5">
            <p class="section-head">Profile</p>

            <p>
                I am a Software / Full Stack Engineer holding a Bachelor and a Master in Computer Science and being
                professionally active in this field since 2008.
                In my professional work, I focused mainly on Web Development, Backend as well as Frontend.
                In the last 7 years, I have been also working as a Software Consultant, offering implementation and
                consultancy services to different clients, most of them being in Germany.
                I am Oracle certified - OCA and OCP for Java 8 and I enjoy learning new things and taking on new
                endeavours.
                Part of my spare time I dedicate to broadening my knowledge and becoming better, the reason why I
                continuously attend various MOOCs - Coursera, Udemy, Edx, Udacity and I am being active on
                professional
                online learning platforms, like JetBrains Academy.
                When time allows it, I also attend and present at technical conferences.
            </p>
        </section>

        <section id="employment-history" class="px-5">
            <p class="section-head">Employment History</p>

            <p class="job-title">Senior Technical Consultant at virtual7 GmbH, Nürnberg</p>
            <p class="working-years">2014 — 2020</p>
            <p>In this period of time, I worked mostly for German clients, on-site and remote, having the positions
                mentioned below. Other than that, I held a couple of presentations (see Conferences section) and
                workedon some internal projects.</p>
            <p class="job-title">Lead Software Developer at IT-Systemhaus der Bundesagentur für Arbeit, Nürnberg</p>
            <p class="working-years">2019 — 2020</p>
            <p>Tech Stack: Java, Java EE, Angular, HTML, CSS, JavaScript, TypeScript, Git, Jenkins, Docker, Linux,
                Oracle
                Database, H2, SQL, Jira, Confluence, Bitbucket, Oracle WebLogic Server, Payara Server</p>

            <p class="job-title">Full Stack Developer at Bundesamt für Migration und Flüchtlinge -BAMF, Nürnberg</p>
            <p class="working-years">2018 — 2019</p>
            <p>Tech Stack: Java, Spring Framework, Spring Boot, Angular, HTML, CSS, JavaScript, TypeScript,
                Bootstrap,
                Git,
                Upsource, Jenkins, Ansible, Linux, Oracle Database, H2, SQL, Jira, Confluence</p>

            <p class="job-title">Software Developer at IT-Systemhaus der Bundesagentur für Arbeit, Nürnberg</p>
            <p class="working-years">2014 — 2018</p>
            <p>Tech Stack: Java, Java EE, Oracle WebCenter Content, Oracle Database, SQL, Oracle WebLogic Server,
                Linux,
                JavaScript, HTML, CSS, Git, Jenkins, Jira, Confluence</p>

            <p class="job-title">Software Developer at virtual7 Romania S.R.L., Timişoara</p>
            <p class="working-years">2008 — 2014</p>
            <p>Tech Stack: Java, Java EE, JavaScript, HTML, CSS, Oracle Database, SQL, Oracle WebCenter Content,
                Oracle
                WebLogic Server</p>
        </section>

        <section id="education" class="px-5">
            <p class="section-head">Education</p>

            <p class="education-title">Master of Science in Informatics, West University of Timişoara, Timişoara</p>
            <p class="education-years">2008 — 2010</p>
            <p>Artificial Intelligence and Distributed Computing</p>
            <p>Grade: 9 of 10</p>

            <p class="education-title">Bachelor of Science in Informatics, West University of Timişoara, Timişoara
            </p>
            <p class="education-years">2004 — 2008</p>
            <p>Computer Science</p>
            <p>Computer Architecture, Algorithms, Data Structures, Programming (C, C++, Java), Mathematical Bases of
                Computers, Algebra, Computational Logics, Formal Languages and Automata Theory, Mathematical
                Analysis,
                Compiling
                Techniques, Graph Theory and Combinatorics, Ordinary and Partial Differential Equations, Operating
                Systems,
                Databases, Geometry, Real and Complex Calculus, Logical and Functional Programming, Probability,
                Unix
                Programming, Artificial Intelligence, Software Engineering, Numerical Methods, Statistics, Neural
                Networks,
                Computer Networks, Operational Research, Modeling and Simulation, Image Processing, Web
                Technologies,
                Local
                Network Administration, Computer Graphics, Intelligent Systems, Parallel Computing, Security and
                Cryptography</p>
            <p>Grade: 9.67 of 10 (ranked 7 of 95 graduates)</p>
        </section>

        <section id="links" class="px-5">
            <p class="section-head">Links</p>

            <p>
                <a href="https://vladflore.tech" target="_blank">Blog</a>
                <a href="https://www.linkedin.com/in/vlad-flore-a709723b/" target="_blank">Linkedin</a>
                <a href="https://github.com/vladflore" target="_blank">GitHub</a>
            </p>
        </section>

        <section id="skills" class="px-5">
            <p class="section-head">Skills</p>

        </section>

        <section id="languages" class="px-5">
            <p class="section-head">Languages</p>

            <div class="row mb-4">
                <div class="col-6">English</div>
                <div class="col-6">German</div>
            </div>
            <div class="row">
                <div class="col-12">Romanian</div>
            </div>
        </section>

        <section id="courses" class="px-5">
            <p class="section-head">Courses</p>

            <p class="course-title">Algorithms, Part I, Coursera (Princeton University)</p>
            <p class="course-years">July 2020 — Present</p>

            <p class="course-title">Core Spring Training, Pivotal</p>
            <p class="course-years">March 2020 — March 2020</p>

            <p class="course-title">Software Design and Architecture Specialization, Coursera (University of
                Alberta)
            </p>
            <p class="course-years">November 2019 — June 2020</p>

            <p class="course-title">Python for Everybody Specialization, Coursera (University of Michigan)</p>
            <p class="course-years">November 2019 — December 2019</p>

            <p class="course-title">Version Control with Git, Coursera (Atlassian)</p>
            <p class="course-years">July 2019 — July 2019</p>
        </section>

        <section id="certifications" class="px-5">
            <p class="section-head">Certifications</p>

            <p class="cert-title">Oracle Certified Professional, Java SE 8 Programmer, online</p>
            <p class="cert-years">June 2020 — June 2020</p>
            <p>Certificate</p>

            <p class="cert-title">Software Design and Architecture, online</p>
            <p class="cert-years">June 2020 — June 2020</p>
            <p>Certificate</p>

            <p class="cert-title">Python for Everybody, online</p>
            <p class="cert-years">January 2020 — January 2020</p>
            <p>Certificate</p>

            <p class="cert-title">Oracle Certified Associate, Java SE 8 Programmer, online</p>
            <p class="cert-years">May 2019 — May 2019</p>
            <p>Certificate</p>
        </section>

        <section id="references" class="px-5">
            <p class="section-head">References</p>

            <p class="ref-title">Catalina Hritcu (HR Business Partner) from virtual7 Romania S.R.L.</p>
            <p>0040787539359</p>
        </section>

        <section id="hobbies" class="px-5">
            <p class="section-head">Hobbies</p>

            <p>Travelling, Reading, Learning, Swimming</p>
        </section>

        <section id="conferences" class="px-5">
            <p class="section-head">Conferences</p>

            <p class="pres-title">virtual7 GmbH, Freiburg</p>
            <p class="pres-years">2019 — 2019</p>
            <p>Online Presentation</p>

            <p class="pres-title">virtual7 GmbH, Heidelberg</p>
            <p class="pres-years">2018 — 2018</p>
            <p>PDF Presentation</p>

            <p class="pres-title">DOAG, Nürnberg</p>
            <p class="pres-years">2017 — 2017</p>
            <p>
                PDF Manuscript
                PDF Presentation
            </p>

            <p class="pres-title">DOAG, Nürnberg</p>
            <p class="pres-years">2015 — 2015</p>
            <p>
                PDF Manuscript
                PDF Presentation
            </p>
        </section>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>