<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/svg+xml" href="/assets/file-regular.svg">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/cv.css">

    <title>CV</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="" class="navbar-brand"><i class="fas fa-file mr-2"></i> Curriculum Vitae</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://vladflore.tech">Back to blog</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Vlad-Emil Flore</h1>
        <p class="lead">Senior Full Stack Engineer</p>
        <hr class="my-4">
        <p class="lead text-center">
            <i class="fab fa-linkedin-in mr-3"></i>
            <i class="fab fa-xing mr-3"></i>
            <i class="fab fa-twitter"></i>
        </p>
    </div>
</div>

<section id="profile">
    <div class="container">
        <p>Profile</p>
        <p>
            I am a Software / Full Stack Engineer holding a Bachelor and a Master in Computer Science and being
            professionally active in this field since 2008.
            In my professional work, I focused mainly on Web Development, Backend as well as Frontend.
            In the last 7 years, I have been also working as a Software Consultant, offering implementation and
            consultancy services to different clients, most of them being in Germany.
            I am Oracle certified - OCA and OCP for Java 8 and I enjoy learning new things and taking on new endeavours.
            Part of my spare time I dedicate to broadening my knowledge and becoming better, the reason why I
            continuously attend various MOOCs - Coursera, Udemy, Edx, Udacity and I am being active on professional
            online learning platforms, like JetBrains Academy.
            When time allows it, I also attend and present at technical conferences.
        </p>
    </div>
</section>

<section id="employment-history">
    <div class="container">
        <p>Employment History</p>
        <p>Senior Technical Consultant at virtual7 GmbH, Nürnberg</p>
        <p>2014 — 2020</p>
        <p>In this period of time, I worked mostly for German clients, on-site and remote, having the positions
            mentioned below. Other than that, I held a couple of presentations (see Conferences section) and worked on
            some internal projects.</p>

        <p>Lead Software Developer at IT-Systemhaus der Bundesagentur für Arbeit, Nürnberg</p>
        <p>2019 — 2020</p>
        <p>Tech Stack: Java, Java EE, Angular, HTML, CSS, JavaScript, TypeScript, Git, Jenkins, Docker, Linux, Oracle
            Database, H2, SQL, Jira, Confluence, Bitbucket, Oracle WebLogic Server, Payara Server</p>

        <p>Full Stack Developer at Bundesamt für Migration und Flüchtlinge -BAMF, Nürnberg</p>
        <p>2018 — 2019</p>
        <p>Tech Stack: Java, Spring Framework, Spring Boot, Angular, HTML, CSS, JavaScript, TypeScript, Bootstrap, Git,
            Upsource, Jenkins, Ansible, Linux, Oracle Database, H2, SQL, Jira, Confluence</p>

        <p>Software Developer at IT-Systemhaus der Bundesagentur für Arbeit, Nürnberg</p>
        <p>2014 — 2018</p>
        <p>Tech Stack: Java, Java EE, Oracle WebCenter Content, Oracle Database, SQL, Oracle WebLogic Server, Linux,
            JavaScript, HTML, CSS, Git, Jenkins, Jira, Confluence</p>

        <p>Software Developer at virtual7 Romania S.R.L., Timişoara</p>
        <p>2008 — 2014</p>
        <p>Tech Stack: Java, Java EE, JavaScript, HTML, CSS, Oracle Database, SQL, Oracle WebCenter Content, Oracle
            WebLogic Server</p>
    </div>
</section>

<section id="education">
    <div class="container">
        <p>Education</p>
        <p>Master of Science in Informatics, West University of Timişoara, Timişoara</p>
        <p>2008 — 2010</p>
        <p>Artificial Intelligence and Distributed Computing</p>
        Grade: 9 of 10
        <p>Bachelor of Science in Informatics, West University of Timişoara, Timişoara</p>
        <p>2004 — 2008</p>
        Computer Science
        Computer Architecture, Algorithms, Data Structures, Programming (C, C++, Java), Mathematical Bases of Computers,
        Algebra, Computational Logics, Formal Languages and Automata Theory, Mathematical Analysis, Compiling
        Techniques, Graph Theory and Combinatorics, Ordinary and Partial Differential Equations, Operating Systems,
        Databases, Geometry, Real and Complex Calculus, Logical and Functional Programming, Probability, Unix
        Programming, Artificial Intelligence, Software Engineering, Numerical Methods, Statistics, Neural Networks,
        Computer Networks, Operational Research, Modeling and Simulation, Image Processing, Web Technologies, Local
        Network Administration, Computer Graphics, Intelligent Systems, Parallel Computing, Security and Cryptography
        Grade: 9.67 of 10 (ranked 7 of 95 graduates)
    </div>
</section>

<section id="links">
    <div class="container">
        <p>Links</p>
        <p>
            <a href="https://vladflore.tech" target="_blank">Blog</a>
            <a href="https://www.linkedin.com/in/vlad-flore-a709723b/" target="_blank">Linkedin</a>
            <a href="https://github.com/vladflore" target="_blank">GitHub</a>
        </p>
    </div>
</section>

<section id="skills">
    <div class="container">
        <p>Skills</p>
    </div>
</section>

<section id="languages">
    <div class="container">
        <p>Languages</p>
        <div class="row mb-4">
            <div class="col-6">English</div>
            <div class="col-6">German</div>
        </div>
        <div class="row">
            <div class="col-12">Romanian</div>
        </div>
    </div>
</section>

<section id="courses">
    <div class="container">
        <p>Courses</p>
        <p>Algorithms, Part I, Coursera (Princeton University)</p>
        <p>July 2020 — Present</p>
        <p>Core Spring Training, Pivotal</p>
        <p>March 2020 — March 2020</p>
        <p>Software Design and Architecture Specialization, Coursera (University of Alberta)</p>
        <p>November 2019 — June 2020</p>
        <p>Python for Everybody Specialization, Coursera (University of Michigan)</p>
        <p>November 2019 — December 2019</p>
        <p>Version Control with Git, Coursera (Atlassian)</p>
        <p>July 2019 — July 2019</p>
    </div>
</section>

<section id="certifications">
    <div class="container">
        <p>Certifications</p>
        <p>Oracle Certified Professional, Java SE 8 Programmer, online</p>
        <p>June 2020 — June 2020</p>
        Certificate
        <p>Software Design and Architecture, online</p>
        <p>June 2020 — June 2020</p>
        Certificate
        <p>Python for Everybody, online</p>
        <p>January 2020 — January 2020</p>
        Certificate
        <p>Oracle Certified Associate, Java SE 8 Programmer, online</p>
        <p>May 2019 — May 2019</p>
        Certificate
    </div>
</section>

<section id="references">
    <div class="container">
        <p>References</p>
        <p>Catalina Hritcu (HR Business Partner) from virtual7 Romania S.R.L.</p>
        0040787539359
    </div>
</section>

<section id="hobbies">
    <div class="container">
        <p>Hobbies</p>
    </div>
</section>

<section id="conferences">
    <div class="container">
        <p>Conferences</p>
        <p>virtual7 GmbH, Freiburg</p>
        <p>2019 — 2019</p>
        Online Presentation
        <p>virtual7 GmbH, Heidelberg</p>
        <p>2018 — 2018</p>
        PDF Presentation
        <p>DOAG, Nürnberg</p>
        <p>2017 — 2017</p>
        PDF Manuscript
        PDF Presentation
        <p>DOAG, Nürnberg</p>
        <p>2015 — 2015</p>
        PDF Manuscript
        PDF Presentation
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
